<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">


      <div class="post-user-name">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <p>
        <%= @post.content %>
      </p>
      <div class="post-time">
        <%= @post.created_at %>
      </div>

      <% if @post.user_id == @current_user.id %>
        <div class="post-menus">
          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
        </div>
      <% end %>
    </div>


    <div class="comment-wrapper">
      <h2 class="title">コメント一覧</h2>
        <% @comments.each do |comment| %>
          <div class="comments-show-item">
            <div class="comments-user-name">
              <%= comment.user.name unless comment.user.blank? %>
            </div>
            <div class="comments-content">
              <%= comment.content %>
            </div>

            <div class="post-menus">
              <%= link_to "DELETE", [comment.post, comment], method: :delete %>
            </div>
            
          </div>
        <% end %>

      <div class="form">
        <div class="form-body">
           <%= form_with(model: [@post, @comment], local: true) do |f| %>
           <%= f.text_area :content, class: "form-control", rows: 5 %>
           <%= button_tag type: "submit", class: "btn btn-success float-right mt-1" do %>
             <i class="far fa-comments"></i> コメントする
          <% end %>
         <% end %>
        </div>
      </div>
    </div>

  </div>
</div>