<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <% user_color = "black" %>
      <% user = @user %> 
      <% if user.rate >= 2800    %>   
      <%   user_color = "red" %>
      <% elsif user.rate >= 2400 %>
      <%   user_color = "orange" %>
      <% elsif user.rate >= 2000 %>
      <%   user_color = "yellow" %>
      <% elsif user.rate >= 1600 %>
      <%   user_color = "blue" %>
      <% elsif user.rate >= 1200 %>
      <%   user_color = "cyan" %>
      <% elsif user.rate >= 800 %>
      <%   user_color = "green" %>
      <% elsif user.rate >= 400 %>
      <%   user_color = "brown" %>
      <% elsif user.rate >= 0 %>
      <%   user_color = "gray" %>
      <% else %>
      <%   user_color = "black" %>
      <% end %>

      <div class="post-user-name">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <%= link_to(@user.name, "/users/#{@user.id}", :style => "color:#{user_color};") %>
      </div>
      <p>
        <%= @post.content %>
      </p>
      <div class="post-time">
        <%= @post.created_at %>
      </div>

      <% if @post.user_id == @current_user.id %>
        <div class="post-menus">
          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
        </div>
      <% end %>
    </div>


    <div class="comment-wrapper">
      <h2 class="title">コメント一覧</h2>

        <% if @comments.blank? %>
          <p>最初のコメントをしよう！</p>
        <% end %>

        <% @comments.each do |comment| %>
          <div class="comments-show-item">
            <div class="comments-user-name">

              <% user = comment.user %> 
              <% if user.rate >= 2800    %>   
              <%   user_color = "red" %>
              <% elsif user.rate >= 2400 %>
              <%   user_color = "orange" %>
              <% elsif user.rate >= 2000 %>
              <%   user_color = "yellow" %>
              <% elsif user.rate >= 1600 %>
              <%   user_color = "blue" %>
              <% elsif user.rate >= 1200 %>
              <%   user_color = "cyan" %>
              <% elsif user.rate >= 800 %>
              <%   user_color = "green" %>
              <% elsif user.rate >= 400 %>
              <%   user_color = "brown" %>
              <% elsif user.rate >= 0 %>
              <%   user_color = "gray" %>
              <% else %>
              <%   user_color = "black" %>
              <% end %>

              <%= link_to(comment.user.name, "/users/#{comment.user.id}", :style => "color:#{user_color};") %>

            </div>
            <div class="comments-content">
              <%= comment.content %>
            </div>

            <div class="post-menus">
              <%= link_to "削除", [comment.post, comment], method: :delete %>
            </div>
            
          </div>
        <% end %>


      <div class="form">
        <div class="form-body">
           <%= form_with(model: [@post, @comment], local: true) do |f| %>
           <%= f.text_area :content, class: "form-control", rows: 5 %>
           <%= button_tag type: "submit", class: "btn btn-success float-right mt-1" do %>
             <i class="far fa-comments"></i> コメントする
          <% end %>
         <% end %>
        </div>
      </div>
    </div>

  </div>
</div>